@import "~antd/dist/antd.css";

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 10px auto;
}

.bg-blue-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(30 58 138/var(--tw-bg-opacity));
}

.center-items {
  display: flex;
  justify-content: center;
}

.pb-10 {
  padding-bottom: 10px;
}

.display-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flexed-items {
  display: flex;
}
.ml-05 {
  margin-left: 5%;
}

.pl-05 {
  padding-left: 5%;
}

.w-100 {
  width: 100%;
}

td {
  padding: 8px;
  border: 1px solid gray;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
