@import "~antd/dist/antd.css";

.ant-menu-horizontal > .ant-menu-item a {
  color: white;
}

.ant-menu-horizontal > .ant-menu-item a:hover {
  color: white;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after {
  border-bottom: 2px solid white;
}